.fct-alert{
  @apply flex gap-1 py-2 px-2.5 rounded text-system-dark border border-solid border-blue-100 bg-blue-50 dark:text-gray-50 dark:bg-blue-800 dark:border-blue-800;
  a{
    @apply text-blue-500 underline focus:underline focus:outline-none focus:shadow-none dark:text-white !important;
  }
  .icon{
    @apply text-blue-500 dark:text-gray-50;
    svg{
      @apply w-5;
    }
  }
  &-close{
    @apply ml-auto w-5 h-5 rounded-full flex items-center justify-center cursor-pointer hover:bg-blue-100 dark:hover:bg-blue-700;
    svg{
      @apply w-3;
    }
  }
  &-info{
    @apply bg-gray-100 border-gray-200 dark:bg-gray-800 dark:border-gray-800 dark:text-gray-50;
    .icon{
      @apply text-gray-800 dark:text-gray-50;
    }
  }
  &-warning{
    @apply bg-warning-50 border-warning-100 dark:bg-warning-800 dark:border-warning-800 dark:text-gray-50;
    .icon{
      @apply text-warning-500 dark:text-gray-50;
    }
  }
  &-success{
    @apply bg-success-50 border-success-100 dark:bg-success-800 dark:border-success-800 dark:text-gray-50;
    .icon{
      @apply text-success-500 dark:text-gray-50;
    }
  }
  &-error{
    @apply bg-red-50 border-red-100 dark:bg-red-800 dark:border-red-800 dark:text-gray-50;
    .icon{
      @apply text-red-500 dark:text-gray-50;
    }
    .fct-alert-close{
      @apply text-red-500 hover:bg-red-100 dark:hover:bg-red-700;
    }
  }
}

.fct-notices-wrap {
  @apply grid gap-2 mb-5;
  .fct-alert {
    @apply m-0 !important;
  }

  &.settings {
    @apply max-w-[1124px] mt-5 mb-0;
  }
}
