.badge{
  @apply inline-flex items-center gap-1 capitalize text-center text-xs leading-[1.1] font-medium py-1 px-2 rounded-[6px] whitespace-nowrap relative;
  &.success{
    @apply bg-success-100 text-success-800 dark:bg-success-800 dark:text-white;
  }
  &.warning{
    @apply bg-warning-100 text-warning-800 dark:bg-warning-800 dark:text-white;
  }
  &.danger{
    @apply bg-red-100 text-red-800 dark:bg-red-800 dark:text-white;
  }
  &.primary{
    @apply bg-dark-100 text-dark-800 dark:bg-dark-800 dark:text-white;
  }
  &.blue{
    @apply bg-blue-100 text-blue-800 dark:bg-gray-800 dark:text-white;
  }
  &.info{
    @apply bg-gray-100 text-system-dark dark:bg-gray-800 dark:text-white;
  }
  .icon{
    svg{
      @apply w-3.5 h-3.5;
    }
  }
  &.small{
    @apply py-1 px-2;
  }
  &.is-high-contrast{
    &.success{
      @apply bg-success-200 text-success-800 dark:bg-success-800 dark:text-white;
    }
    &.warning{
      @apply bg-warning-200 text-warning-800 dark:bg-warning-800 dark:text-white;
    }
    &.danger{
      @apply bg-red-200 text-red-800 dark:bg-red-800 dark:text-white;
    }
    &.primary{
      @apply bg-dark-200 text-dark-800 dark:bg-dark-800 dark:text-white;
    }
    &.info{
      @apply bg-gray-200 text-system-dark dark:bg-gray-800 dark:text-white;
    }
  }
}

.fct-variant-badge {
    @apply inline-flex items-center gap-1 capitalize text-center text-[11px] leading-none font-medium py-[3px] px-2 rounded-full bg-blue-100 text-blue-800;
}
