.chart {
  &-wrap {
    @apply h-[450px];
  }

  &-action-wrap {
    @apply flex gap-10 justify-center;
  }

  &-legend {
    &-wrap {
      @apply flex gap-5;
    }

    @apply flex items-center gap-1.5 cursor-pointer;
    .marker {
      @apply w-1.5 h-1.5 rounded-full bg-[var(--marker-bg)];
    }

    .text {
      @apply text-xs font-medium leading-5 text-system-mid dark:text-gray-300;
    }
  }

  &-change {
    &-wrap {
      @apply flex gap-5;
    }

    @apply flex items-center gap-1.5;
    .text {
      @apply text-xs font-medium leading-5 text-system-dark dark:text-gray-300;
    }
    .icon{
      &.arrow-up{
        svg{
          @apply w-4.5;
        }
      }
      &.arrow-right{
        svg{
          @apply h-[9px];
        }
      }
    }
  }
}


// license-statistics-chart
.license-statistics{
  &-chart{
      @apply h-[350px];
  }
}

// usage-statistics-chart-wrap
.usage-statistics-chart{
  &-wrap{
    @apply border border-solid border-gray-outline rounded p-5 dark:border-dark-400;
  }
  @apply h-[240px];
}
.fct-custom-legend {
  .legend-item {
    @apply flex bg-gray-50 items-center py-2 px-3 mb-2 cursor-pointer border border-solid border-transparent rounded hover:bg-gray-100 hover:border-gray-200 dark:bg-dark-500 dark:hover:bg-dark-400 dark:hover:border-dark-300 dark:text-gray-300;
  }
  .legend-color{
    @apply w-3 h-3 rounded-full mr-2.5 flex-shrink-0;
  }
  .legend-item-name {
    @apply text-[13px] font-medium truncate max-w-[120px];
  }
  .legend-item-percentage {
    @apply text-xs text-system-mid ml-2 dark:text-gray-300;
  }
  .legend-item-count {
    @apply text-xs text-system-mid mt-0.5 dark:text-gray-300;
  }
  .legend-item-hidden {
    text-decoration: line-through;
  }
}
#chartContainer {
  .fct-card-header-actions {
    @apply gap-2;
  }
}

.fct-chart-select {
  @apply w-[120px];
}
