.fct-add-coupon{
    &-wrap{
        @apply flex gap-2.5 flex-col text-left;
    }
    &-input{
        &-wrap{
            @apply relative;
            .el-button{
                @apply absolute top-[50%] right-2;
                transform: translateY(-50%);
                &.el-button--info{
                    &[soft]{
                        @apply bg-gray-100 border-gray-100 hover:bg-gray-200 hover:border-gray-200 dark:bg-dark-400 dark:border-dark-400 dark:hover:bg-dark-300 dark:hover:border-dark-300 #{!important};
                    }
                }
            }
        }
        &-label{
            @apply text-sm text-system-dark font-semibold dark:text-gray-50;
        }
    }
}
.coupon-delete-btn{
    @apply text-red-500 hover:bg-transparent #{!important};
}
.fct-add-edit-coupon{
    @apply flex w-full justify-between gap-7.5;
    @media (max-width: 1359px) {
        @apply grid;
    }
}
.fct-add-edit-coupon-main{
    @apply w-[900px] 3xl:w-[1230px];
    @media (max-width: 1359px) {
        @apply w-full;
    }
}
.fct-add-edit-coupon-aside{
    @apply w-[330px];
}
