.fct-product-label {
  @apply font-semibold mb-4 block;
}

/* fct-product-item-selector */
.fct-product-item-selector {
  @apply m-0 p-0 list-none flex w-full gap-4;
  li {
    @apply text-system-mid flex mb-0 p-4 justify-between text-center cursor-pointer border border-solid border-gray-outline rounded-[12px] text-base font-semibold flex-1 transition-all dark:border-dark-400 dark:text-gray-50;
    svg {
      @apply w-5 h-5 mr-2.5;
    }

    &.active {
      @apply bg-gray-25 border-primary-500 text-primary-500 dark:border-gray-800 dark:text-gray-50 dark:bg-primary-500;
      .fct-product-item-selector-dot {
        @apply border-primary-500 dark:border-gray-800;
        &:before {
          transform: translate(-50%, -50%) scale(1);
          opacity: 1;
        }
      }
    }
  }

  &-content {
    @apply flex;
  }

  &-dot {
    @apply w-4 h-4 border border-solid border-gray-outline rounded-full relative transition-all dark:border-dark-400;
    &:before {
      @apply w-2 h-2 bg-primary-500 rounded-full absolute top-[50%] left-[50%] transition-all dark:bg-gray-50;
      content: "";
      transform: translate(-50%, -50%) scale(0.6);
      opacity: 0;
    }

    &-wrap {
      @apply flex items-center justify-center;
    }

  }

}

.fct-product-create {
  .el-form-item.is-error .el-input input {
    @apply border-red-500;
  }
}

.fct-new-price-block .el-form-item .el-form-item__label {
  @apply pt-0 pr-3 pb-0 pl-0 #{!important};
}

.fca_menu_items {
  @apply flex items-center;
}

// product price variant item
.fct-more-option-wrap {
  @apply flex-shrink-0;
  .more-btn {
    @apply text-system-mid py-1 px-1.5 cursor-pointer dark:text-gray-300;
    svg {
      @apply h-4 w-4;
    }
  }
}

.fct-media-with-content {
  @apply flex items-center gap-2.5;
  .media {
    @apply flex-shrink-0 border border-solid border-gray-100 rounded-sm dark:border-dark-400;
  }

  .title {
    @apply leading-[20px] text-sm text-system-dark dark:text-gray-50;
  }
  .text {
    @apply text-system-mid text-xs mt-1 dark:text-gray-300;
  }
}

.media {
  @apply h-10 w-10;
  img {
    @apply w-full h-full object-cover rounded-xs;
  }
}

.fct-amount-border-box {
  @apply leading-none text-sm inline-flex text-system-dark items-center dark:text-gray-300;
}

// product details summary
.product-details-summary-item {
  @apply border border-solid border-l-0 border-t-0 border-r-0 border-gray-outline mb-5 pb-5 last:mb-0 last:pb-0 last:border-b-0;
  .product-details-summary-item-title,
  h4 {
    @apply text-system-dark font-medium mb-3 text-sm dark:text-gray-50;
  }

  .product-details-summary-action-list {
    @apply m-0;
    li {
      @apply mb-2.5 last:mb-0;
    }
  }

  .el-range-editor.el-input {
    @apply w-full;
  }
}

.fct-admin-summary-item {
  &-list {
    @apply p-0 m-0 list-none;
    .fct-admin-summary-item {
      @apply flex items-center gap-2.5 justify-between mb-4 last:mb-0;
    }

    .el-button {
      @apply py-1 px-2 whitespace-normal max-w-[160px] text-right;
      word-break: break-word;

      span {
        @apply overflow-hidden;
      }
      svg {
        @apply w-4 h-4 text-system-light;
      }
    }
  }

  &-title {
    @apply text-system-dark font-medium text-[13px] dark:text-gray-50;
  }

  @apply mb-5 last:mb-0;
  h4 {
    @apply text-system-dark font-medium mb-3 text-sm dark:text-gray-50;
  }

  .fct-attachments-list.is-single li {
    @apply flex-1 h-[140px];
  }
  &-select {
    @apply w-[140px];
    .el-select__wrapper {
      @apply border-0 py-1 px-2 h-6 hover:bg-gray-50 hover:text-system-dark dark:bg-transparent dark:hover:bg-dark-600 dark:text-gray-50 dark:hover:text-gray-50;
    }
    .el-icon {
      transform: rotate(0deg);
    }
    .el-select__icon:not(.el-select__clear) {
      svg {
        @apply hidden;
      }
    }
    .el-select__icon:not(.el-select__clear) {
      display: inline-block;
      width: 16px; /* adjust size */
      height: 16px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='2' stroke='%239d9fac'><path stroke-linecap='round' stroke-linejoin='round' d='M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9'/></svg>");
    }
    .el-select__placeholder {
      @apply font-medium;
    }
  }
}

.fc_product_search_table {
  @apply max-h-[390px] overflow-x-hidden -mx-5;
  .el-table__header-wrapper {
    @apply hidden;
  }

  tbody {
    .el-table__row {
      &:first-child {
        td {
          @apply border border-solid border-gray-divider border-l-0 border-r-0 dark:border-dark-400;
        }
      }

      &.el-table__row--level-0 {
        //td:first-child .cell{
        //    @apply pl-4;
        //}
        .title {
          @apply text-system-dark font-medium dark:text-gray-50;
        }
      }

      &.el-table__row--level-1 {
        .el-table__indent {
          @apply pl-5 #{!important};
        }
      }
    }

    .el-table__cell {
      @apply py-2.5;
    }
  }

  .el-table__expand-icon {
    @apply w-5 h-5 leading-5 #{!important};
    svg {
      @apply hidden;
    }

    .el-icon {
      @apply relative;
      &::after {
        @apply absolute top-0 left-0 w-3.5 h-3.5;
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M6.0404 3.13573L10.655 7.1027C11.115 7.50256 11.115 8.49167 10.655 8.89152L6.0404 12.8585C5.58036 13.2583 5 12.7638 5 11.9641L5 4.03014C5 3.24095 5.57328 2.7464 6.0404 3.13573Z' fill='%239D9FAC'/%3E%3C/svg%3E");
      }
    }

  }
}

.fc_product_search_pagination_wrap {
  .pagination-wrap {
    @apply bg-gray-25 justify-center rounded-none py-4 border-0 dark:bg-dark-500;
  }

  .el-pagination.is-background {
    .btn-prev,
    .btn-next {
      @apply dark:bg-dark-500;
    }

    .el-pager {
      li {
        @apply rounded-md text-system-dark-light font-normal dark:text-gray-300;
        &.is-active {
          @apply text-white;
        }
      }
    }
  }
}

.fct-product-orders-items {
  p {
    @apply border border-solid border-x-0 border-t-0 border-gray-divider m-0 mb-3 pb-3 last:mb-0 last:border-b-0 last:pb-0 dark:border-dark-400;
  }

  span {
    @apply block;
  }

  .title {
    @apply mb-1.5 inline-block text-sm text-system-dark font-medium no-underline hover:underline focus:shadow-none focus:outline-none dark:text-gray-50;
  }

  .variation-title {
    @apply text-[12px] text-system-dark leading-[16px] font-normal dark:text-gray-300;
  }
  &.is-scroll {
    @apply max-h-[280px] overflow-y-scroll;
  }
}

.el-select__popper.fct-bucket-list-popover {
  z-index: 99999 !important;
}

.wrapper {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.5s ease-out;
}

.fct-collapsible {
  &-list {
    @apply m-0;
    li {
      @apply m-0 border border-solid border-gray-divider border-l-0 border-r-0 border-t-0 dark:border-dark-400;
    }

    .content-collapsible-btn {
      @apply mr-1 w-6.5 h-7.5 inline-flex items-center cursor-pointer flex-shrink-0;
      .icon {
        @apply text-system-dark dark:text-gray-100;
        transition: 0.3s ease-in-out;
      }

      &.is-collapsed {
        .icon {
          @apply rotate-90;
        }
      }
    }
  }

  &-item {
    @apply flex items-center justify-between gap-2.5 px-5 py-3;
    &-child {
      &-container {
        @apply grid grid-rows-[0fr];
        transition: grid-template-rows 0.3s ease-in-out;

        &.is-collapsed {
          @apply grid-rows-[1fr];
        }
      }

      &-inner {
        @apply m-0 overflow-hidden;
        li {
          @apply m-0 border-t border-b-0 pl-6;
        }

        .fct-collapsible-content-wrapper {
          @apply pl-[20px];
        }

        .fct-collapsible-content-wrapper {
          .content-title {
            .title {
              @apply font-normal text-system-mid;
            }
          }
        }
      }
    }
  }

  &-content-wrapper {
    @apply flex items-center w-[calc((100%-40px)*.6)];
    flex: 0 0 auto;

    .content-img {
      @apply w-10 h-10 mr-5 flex-shrink-0;
      img {
        @apply aspect-square w-full rounded-md;
      }
    }

    .content-indent {
      @apply w-7.5 flex-shrink-0;
    }

    .content-checkbox {
      @apply mr-3;
    }

    .content-title {
      @apply overflow-hidden;
      .title {
        @apply text-system-dark text-sm font-medium truncate dark:text-gray-50;
      }
      .text {
        @apply text-xs text-system-mid font-normal dark:text-gray-300;
      }

      .already-added {
        @apply text-xs text-warning-500;
      }
    }
  }

  &-stock-wrapper {
    @apply text-sm font-normal text-system-mid w-[calc((100%-40px)*.2)] text-right dark:text-gray-300;
    flex: 0 0 auto;
  }

  &-value-wrapper {
    @apply text-sm font-normal text-system-mid w-[calc((100%-40px)*.2)] text-right dark:text-gray-300;
    flex: 0 0 auto;
  }

}

.fct-product-pricing-table-item {
  .fct-attachments-list.is-multiple {
    li {
      @apply w-full h-full;
    }

    .fct-media-button {
      @apply p-1;
    }
  }
}

/*== Edit product wrapper ==*/
.fct-product-pricing-form-wrap {
  @apply relative h-full;
  .el-form-item {
    &.has-tooltip-and-required {
      &.is-required {
        .el-form-item__label {
          &:after {
            display: none;
          }
        }

        .fct-label-hint {
          .label {
            &:after {
              content: "*";
              color: var(--el-color-danger);
              margin-left: 4px;
            }
          }
        }
      }
    }
  }
  .fct-cost-profit-wrap,
  .fct-setup-fee-wrap {
    @apply px-[7.5px];
  }
}

.fct-select-payment-type-block {
  @apply bg-gray-25 rounded px-4 pt-4  grid gap-5 mb-5 dark:bg-dark-500;
}

.payment-type-block-head {
  @apply flex gap-2 items-start justify-between;
  .title {
    @apply mt-0 mb-1 font-semibold text-sm;
  }

  .text {
    @apply m-0 text-xs text-system-mid dark:text-gray-300;
  }
}

.fct-product-variation-select {
  .el-button {
    @apply w-[140px] block text-left;
    //@apply hover:bg-white dark:hover:bg-dark-500 #{!important};
    //box-shadow: 0 1px 2px 0 rgba(10, 13, 20, 0.03);
    span {
      @apply justify-between w-full;
    }

    .icon svg {
      @apply w-2.5 h-2.5;
    }
  }
}

.disable_inventory_row {
  @apply opacity-50 pointer-events-none;
}

.el-input-group.el-input-group--append .el-input-group__append .el-select.fct-repeat-payment-every-select {
  @apply w-[120px];
}

.fct-product-pricing-table-wrap {
  @apply -mx-6 -mt-6;
}

.fct-product-add-more-price-wrap {
  @apply py-5 pl-6 border border-solid border-x-0 border-b-0 border-gray-divider dark:border-dark-400;
}

.fct-product {
  &-edit {
    @apply flex w-full gap-7.5 justify-between;
    @media (max-width: 1359px) {
      @apply flex-wrap;
    }
  }

  &-main {
    @apply w-[900px] 3xl:w-[1230px];
    @media (max-width: 1359px) {
      @apply w-full;
    }
    .el-table {
      thead th.el-table__cell .cell {
        @apply text-[13px] py-2.5;
      }

      tbody .el-table__cell {
        @apply py-5;
      }
    }

    .media {
      @apply w-9 h-9;
    }
    .fct-show-on-tablet {
      &.fct-product-publish-and-media-widgets {
        @apply grid 1xl:hidden gap-6;
        grid-template-columns: repeat(2, 1fr);
        @media (max-width: 767px) {
          grid-template-columns: 1fr;
          @apply gap-0;
        }
      }
    }
  }

  &-aside {
    @apply w-[330px];
    @media (max-width: 1359px) {
      @apply w-full;
      .el-form {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        @apply grid gap-5;
        .fct-product {
          &-simple-wrap,
          &-media-wrap,
          &-status-wrap {
            .fct-card {
              @apply m-0;
            }
          }
        }
      }
    }
    .card .card-header {
      @apply pt-4;
      &.border-bottom {
        @apply pb-4;
      }

      &-title.is-small {
        @apply text-sm;
      }
    }
    .fct-hide-on-tablet {
      @apply hidden 1xl:block;
    }
  }
}
.fct-single-order-loader-wrap {
  .single-page-body {
    .fct-single-order {
      &-main {
        @media (max-width: 1359px) {
          @apply w-full
        }
      }
      &-aside {
        @media (max-width: 1359px) {
          @apply w-full;
          .fct-admin-sidebar {
            @apply grid gap-5 items-start;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            .fct-card {
              @apply mb-0;
            }
          }
        }
      }
    }
  }
}

.fct-adjust-by-wrap {
  @apply flex flex-col p-1 gap-2.5;
  .title {
    @apply mb-2 text-xs block font-medium text-system-dark dark:text-gray-50;
  }
}

.fct-adjust-by-row {
  @apply grid grid-cols-2 gap-2.5;
}

.fct-adjust-by-action {
  @apply text-right mt-3;
}

.fct-product-inventory-wrap,
.fct-product-download-wrap {
  .card-header-actions {
    @apply max-h-5;
    .el-switch {
      @apply h-full;
    }
  }
}
.fct-product-inventory-inner-wrap {
  .el-table {
    tbody {
      tr {
        .cell {
          overflow: inherit;
        }
      }
    }
  }
}

.fct-product-status-chosen {
  &-wrap {
    @apply relative;
    .el-button {
      .icon {
        @apply dark:text-gray-300;
      }
    }
  }

  &-dropdown {
    //@apply absolute top-full right-0 w-[280px] z-[1024] bg-white p-5 rounded mt-2.5 hidden dark:bg-dark-600;
    //box-shadow: 0px -4px 16px -12px rgba(14, 18, 27, 0.10), 0px 16px 32px 0px rgba(14, 18, 27, 0.10);

    .title {
      @apply text-sm text-system-dark font-semibold mb-2 mt-0;
    }
  }
}

.fct-browse-product-form-group {
  @apply flex items-center gap-3 relative;
  .el-button {
    @apply absolute top-1 right-1;
  }
}

.fct-licensed-product-table {
  @apply w-full border border-solid border-gray-outline rounded overflow-hidden dark:border-dark-400;
  .el-table td.el-table__cell,
  .el-table th.el-table__cell.is-leaf {
    @apply border-0;
  }
}

.fct-product-url {
  &-label {
    @apply mt-4 mb-1;
  }
  &-slug {
    &-container {
      @apply flex items-center gap-2 justify-between;
      .is-tertiary {
        .capitalize {
          @apply truncate block;
        }
      }
    }

    @apply truncate block text-primary-500 dark:text-gray-50;
    &-wrap {
      overflow-wrap: anywhere;
      @apply flex items-center gap-1 text-primary-500 focus:outline-none focus:shadow-none hover:text-primary-500 dark:text-gray-50;
      .icon {
        @apply inline-flex;
        svg {
          @apply w-4.5 h-4.5;
        }
      }
    }
  }
}

.fct-table-draggable {
  .fct-drag-handle {
    @apply w-7.5 h-7.5 justify-center items-center inline-flex cursor-grab;
  }

  .fct-product-pricing-table-item {
    @apply relative;
  }

  .fct-variant-badge {
    @apply absolute -top-2 right-1.5 bg-white border border-solid border-gray-outline text-primary-500 rounded-xs dark:bg-primary-700 dark:text-gray-50 dark:border-primary-500
  }

  tr {
    &:hover {
      .fct-variant-badge {
        @apply visible opacity-100;
      }
    }
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.fct-product-download-actions {
  @apply border border-solid border-gray-divider border-x-0 border-t-0 relative dark:border-dark-400;
}

.fct-product-download-action-buttons {
  @apply absolute top-1/2 left-1/2 flex px-3 bg-white dark:bg-dark-600;
  transform: translate(-50%, -50%);

  .el-button {
    @apply m-0 font-normal first:border-r-[0.5px] first:rounded-tr-none first:rounded-br-none last:rounded-tl-none last:rounded-bl-none last:border-l-[0.5px];
  }
}

.fct-downloadable-variation-selector {
    @apply flex gap-10 justify-between w-full pr-7.5;
    .price-info{
        @apply flex gap-2;
    }
}

.purchase-value-item {
  @apply py-1 text-sm text-system-dark dark:text-gray-50;
}

.dark {
  .fct-custom-gutenberg-editor-wrap {
    .iframe-loader {
      background: rgb(28 39 50 / 80%);
    }
  }
  .custom-wp-editor-wrapper {
    .iframe-controls {
      background: rgb(28 39 50 / 80%);
    }
  }
}
.fct-custom-gutenberg-editor-wrap {
  .iframe-loader {
    background: rgba(0,0,0,0.5);
    @apply absolute inset-0 flex flex-col items-center justify-center z-[60] backdrop-blur-sm gap-3;
  }

  .iframe-loader span {
    @apply text-sm text-gray-50;
  }
}
.custom-wp-editor-wrapper {
  .iframe-controls {
    background: rgba(0,0,0,0.5);
    @apply flex gap-3 items-center absolute inset-0 z-[60] justify-center m-0 backdrop-blur-sm;
  }
}
.fct-custom-long-desc-wrap {
  .fct-card-header {
    @apply flex items-center justify-between mx-[-20px] px-5 border-[1px] border-solid border-t-0 border-r-0 border-l-0 border-gray-divider dark:border-dark-400 pb-5 mb-5;
  }
  .el-form-item {
    @apply mb-0;
  }
  .editor-tabs-nav {
    .fct-editor-switcher {
      @apply flex space-x-3;
      button {
        @apply py-2 px-4 border-0 transition-all duration-300 block !m-0 text-system-dark dark:text-gray-50 opacity-50 hover:opacity-100 text-xs leading-4 font-medium px-3 py-1.5 rounded-xs cursor-pointer bg-transparent;
        &.is-active {
          @apply bg-gray-50 dark:bg-primary-500 opacity-100;
        }
      }
      .el-switch {
        @apply h-auto;
      }
    }
  }
}

#fct-admin-product-header-buttons .hide-on-mobile {
  @apply inline-flex items-center gap-1.5;
}

#fct-admin-product-header-buttons .show-on-mobile,
.fct-product-pricing-table-mobile-wrap,
.fct-product-inventory-inner-wrap-mobile,
.fct-upgrade-paths-mobile,
.fct-licensed-product-table-mobile {
  @apply hidden;
}
