.el-alert{
  @apply rounded text-system-dark #{!important};
  .el-alert__icon{
    @apply self-start w-auto mr-2 relative #{!important};
    svg{
      @apply w-4.5 h-4.5;
    }
  }
  .el-alert__close-btn{
    @apply top-3.5;
    svg{
      @apply hidden;
    }
    &::after{
      width: 12px;
      height: 12px;
      position: absolute;
      content: "";
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none"><path d="M10.6671 1.3335L1.33374 10.6668M1.33374 1.3335L10.6671 10.6668" stroke="%23565865" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  .el-alert__title.with-description{
    @apply text-sm font-medium #{!important};
  }
  &--error{
    &.is-light{
      @apply bg-red-50 #{!important};
    }
    .el-icon{
      @apply w-4.5 #{!important};
      svg{
        @apply hidden;
      }
      &::after{
        width: 18px;
        height: 18px;
        position: absolute;
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M10 17.5C5.85775 17.5 2.5 14.1423 2.5 10C2.5 5.85775 5.85775 2.5 10 2.5C14.1423 2.5 17.5 5.85775 17.5 10C17.5 14.1423 14.1423 17.5 10 17.5ZM9.25 12.25V13.75H10.75V12.25H9.25ZM9.25 6.25V10.75H10.75V6.25H9.25Z' fill='%23F04438'/%3E%3C/svg%3E");
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
  &--success{
    &.is-light{
      @apply bg-success-50 #{!important};
      .el-alert__icon{
        @apply text-success-500;
      }
      .el-alert__content{
        @apply gap-0;
      }
    }
  }
  &--warning{
    &.is-light{
      @apply bg-warning-50 #{!important};
      .el-alert__icon{
        @apply text-warning-500;
      }
      .el-alert__content{
        @apply gap-0;
      }
    }
  }
  &--blue{
    &.is-light{
      @apply bg-blue-50 #{!important};
      .el-alert__icon{
        @apply text-blue-500;
      }
      .el-alert__content{
        @apply gap-0;
      }
    }
  }
  .el-alert__content{
    @apply gap-1.5;
  }
}