body.lb-disable-scrolling {
    overflow: hidden;
}

.fct-lightboxOverlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: black;
    opacity: 0.8 !important;
    display: none;

}

.fct-lightbox {
    position: fixed;
    max-height: 100vh;
    height: 100vh;
    left: 0;
    top: 0 !important;
    width: 100%;
    z-index: 10000;
    text-align: center;
    line-height: 0;
    font-weight: normal;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.fct-lightbox .lb-image {
    display: block;
    height: auto;
    max-width: inherit;
    max-height: none;
    border-radius: 3px;

    /* Image border */
    border: 4px solid white;
}

.fct-lightbox a img {
    border: none;
}

.fct-lightbox .lb-outerContainer {
    position: initial;
    width: 80%;
    height: 80%;
    margin: 0 auto;
    border-radius: 4px;

    /* Background color behind image.
       This is visible during transitions. */

}

.lb-outerContainer:after {
    content: "";
    display: table;
    clear: both;
}

.lb-loader {
    position: absolute;
    top: 43%;
    left: 0;
    height: 25%;
    width: 100%;
    text-align: center;
    line-height: 0;
}

.lb-cancel {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 auto;
}

.fct-lightbox .lb-nav {
    z-index: 10;
    display: block !important;
}

.lb-container > .nav {
    left: 0;
}

.lb-nav a {
    outline: none;
    background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev, .lb-next {
    height: 100%;
    cursor: pointer;
    display: block;
}

.lb-nav a.lb-prev {
    left: 12px;
    float: left;
    background: rgb(192 194 196) url(./images/prev.svg) center 48% no-repeat;
}

.lb-nav a.lb-prev:hover {
    opacity: 1;
}

.lb-nav a.lb-next {
    right: 12px;
    float: right;
    background: rgb(192 194 196) url(./images/next.svg) center 48% no-repeat;
    opacity: 1 !important;
}

.lb-nav a.lb-next:hover {
    opacity: 1;
}
.fct-lightbox .lb-nav a.lb-next:hover,
.fct-lightbox .lb-nav a.lb-prev:hover {
    background-color: #ffffff;
}

.fct-lightbox .lb-nav a.lb-next,
.fct-lightbox .lb-nav a.lb-prev {
    display: block !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.lb-dataContainer {
    margin: 0 auto;
    padding-top: 5px;
    width: 100%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
    content: "";
    display: table;
    clear: both;
}

.lb-data {
    padding: 0 4px;
    color: #ccc;
    width: 100%;
}

.lb-data .lb-details {
    width: 85%;
    float: left;
    text-align: left;
    line-height: 1.1em;
}

.lb-data .lb-caption {
    font-size: 13px;
    font-weight: bold;
    line-height: 1em;
}

.lb-data .lb-caption a {
    color: #4ae;
}

.lb-data .lb-number {
    display: block;
    clear: left;
    font-size: 12px;
    color: #999999;
}

.lb-data .lb-close {
    display: block;

    width: 30px;
    height: 30px;
    background: url(./images/close.png) top right no-repeat;
    text-align: right;
    outline: none;
    opacity: 0.7;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
    cursor: pointer;
    opacity: 1;
}



.fct-lightbox .lb-closeContainer{
    position: absolute;
    right: 10px;
    z-index: 9999;
    transition: opacity 100ms linear;
    top: 40px;
}

.lb-nav:hover .lb-closeContainer{
    opacity: 1;
}

.fct-lightbox .lb-closeContainer .lb-close{
    width: 28px;
    height: 28px;
    display: block;
    color: #fff;
    cursor: pointer;
}

.lb-spinner {
    width: 48px;
    height: 48px;
    border: 5px solid;
    border-color: rgba(255,255,255,.5) transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
