@font-face {
  font-family: 'Inter';
  src: url('/resources/public/fonts/Inter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/resources/public/fonts/Inter-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src:  url('/resources/public/fonts/Inter-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src:  url('/resources/public/fonts/Inter-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
