.el-button{
    @apply py-[7px] px-4 h-auto min-h-9 text-system-dark rounded gap-1.5 focus-visible:outline-none cursor-pointer transition-none border-gray-outline hover:bg-gray-50 hover:text-system-dark hover:border-gray-outline focus:shadow-none focus:outline-none dark:bg-dark-600 dark:border-dark-400 dark:text-gray-50 dark:hover:bg-dark-500 dark:hover:text-gray-50;
    .cmd{
        @apply text-xs text-gray-400 uppercase dark:text-gray-600;
    }
    .icon{
        svg{
            @apply w-3 h-3;
        }
        .filter-icon{
            @apply w-4.5 h-4.5;
        }
        .cross{
            @apply w-5 h-5;
        }
    }
    >span{
        @apply gap-1.5 relative z-[2] dark:text-gray-50;
        span{
            @apply dark:text-gray-50;
        }
    }
    &.is-tertiary{
        @apply bg-transparent text-system-mid border-0 hover:bg-gray-25 hover:text-system-dark dark:text-gray-50 dark:hover:text-gray-50;
    }
    &--text{
        @apply py-0 bg-transparent rounded-none h-auto hover:text-dark-700 focus:text-dark-700 dark:border-0 ;
    }
    &--primary{
        @apply text-white bg-primary-500 border-primary-500 hover:bg-primary-600 hover:border-primary-600 hover:text-white focus:text-white dark:bg-primary-50 dark:border-primary-50 dark:text-system-light dark:hover:bg-primary-100 dark:hover:border-primary-100 ;
        span{
            @apply dark:text-system-dark;
        }
        &[soft]{
            @apply bg-dark-50 border-dark-50 text-system-dark hover:bg-primary-100 hover:border-primary-100 ;
        }
        &.is-plain{
            @apply bg-dark-25 text-dark-500 border-dark-100 transition-none hover:text-dark-500 focus:text-dark-500 focus:shadow-none hover:bg-dark-50 hover:border-dark-200 dark:bg-dark-600 dark:border-dark-400 dark:text-white dark:hover:bg-dark-600 dark:hover:text-white dark:focus:text-white dark:hover:border-dark-400 ;
        }
        &.is-link{
            @apply bg-transparent rounded-none border-0 hover:text-gray-300 p-0;
            span{
                @apply dark:text-gray-300;
            }
        }
        &.is-tertiary{
            @apply text-dark-500 hover:bg-dark-25 hover:text-dark-500 dark:hover:bg-dark-600 dark:bg-transparent
        }
        &.is-text {
            span{
                @apply dark:text-gray-50;
            }
        }
    }
    &--warning{
        @apply text-white bg-warning-500 border-warning-500 hover:text-white hover:bg-warning-700 hover:border-warning-700 ;
        &[soft]{
            @apply bg-warning-50 border-warning-50 text-warning-500 hover:bg-warning-100 hover:border-primary-100 ;
        }
    }
    &--danger{
        @apply text-white bg-red-500 border-red-500 hover:text-white hover:bg-red-700 hover:border-red-700 ;
        &[soft]{
            @apply bg-red-50 border-red-50 text-red-500 hover:bg-red-100 hover:border-red-100 ;
        }
        &.is-plain{
            @apply bg-red-25 text-red-500 border-red-500 hover:text-red-500 focus:text-red-500 hover:bg-red-50 dark:bg-dark-600 dark:border-dark-400 dark:text-white dark:hover:bg-dark-600 dark:hover:border-dark-400 dark:focus:text-white dark:hover:text-white ;
        }
        &.is-text{
            @apply text-red-500 #{!important};
        }
    }
    &--info{
        @apply text-white bg-gray-500 border-gray-500 focus:shadow-none hover:text-white hover:bg-gray-700 hover:border-gray-700 dark:bg-gray-700 dark:border-gray-700 ;
        &[soft]{
            @apply bg-gray-50 border-gray-50 text-system-dark hover:bg-gray-100 hover:border-gray-100 dark:bg-transparent dark:border-transparent dark:text-white dark:hover:bg-dark-400 dark:hover:border-dark-400 ;
        }
        &.is-plain{
            @apply bg-gray-25 border-gray-outline text-system-mid transition-none hover:text-system-dark focus:text-system-dark hover:bg-gray-50 dark:bg-dark-600 dark:border-dark-400 dark:text-white dark:hover:bg-dark-600 dark:hover:text-white dark:focus:text-white ;
        }
    }
    &--success{
        @apply text-white bg-success-500 border-success-500 focus:shadow-none hover:text-white hover:bg-success-700 hover:border-success-700 dark:bg-success-700 dark:border-success-700 ;
        &[soft]{
            @apply bg-success-50 border-success-50 text-success-500 hover:bg-success-100 hover:border-success-100 ;
        }
    }
    &.el-button{
        &--x-small{
            @apply text-[12px] py-1.5 px-3 min-h-[auto] rounded-sm leading-[1.17] ;
            &.is-link{
                @apply p-0 h-auto ;
            }
            //.icon{
            //    svg{
            //        @apply w-4 h-4;
            //    }
            //}
        }
        &--small{
            @apply text-[12px] py-1.5 px-3 min-h-[auto] leading-[1.17] rounded-md ; // 28px
        }
        &--medium{
            @apply py-[5px] px-3 min-h-[auto] text-[13px]; // 32px
            &.is-circle {
                @apply w-[36px] ;
            }
        }
        &--large{
            @apply py-[13px] min-h-[auto] px-6; // 48px
            &.is-circle {
                @apply w-[36px] ;
            }
        }
    }
    &.is-text{
        @apply text-dark-500 min-h-[auto] p-0 bg-transparent rounded-none hover:text-system-dark dark:text-gray-50 dark:hover:bg-transparent ;
        .icon {
            svg{
                @apply w-3.5 h-3.5;
            }
            .cross{
                @apply w-3 h-3;
            }
        }
        &:not(.is-disabled){
            @apply hover:bg-transparent;
        }
    }
    &.is-loading{
        &.el-button--primary{
            &::before{
                @apply bg-dark-400;
            }
            [class*=el-icon]+span{
                @apply ml-0;
            }
            @apply dark:text-system-light;
            span {
                @apply dark:text-system-light;
            }
        }
        .el-icon.is-loading{
            @apply z-10 text-base;
        }
    }
    &.is-disabled,
    &.is-disabled:focus,
    &.is-disabled:hover{
        @apply text-system-light opacity-[0.8] cursor-not-allowed bg-gray-200 border-gray-200 hover:text-system-light dark:bg-primary-50 dark:hover:bg-primary-50 dark:text-system-light dark:border-dark-50;
        span {
            @apply dark:text-system-light;
        }
    }
  &.is-link{
    @apply text-blue-500 border-0 p-0.5 rounded-none min-h-[auto] text-sm font-normal underline hover:text-blue-600 dark:hover:text-gray-50 dark:bg-transparent dark:text-gray-300 dark:no-underline !important;
  }
}
.el-button {
    @apply no-underline;
}

