.el-tag{
    @apply font-normal rounded-xs border-0 h-auto py-1 px-2 !important;

    white-space: normal;
    &.el-tag--info {
        @apply text-system-mid dark:bg-dark-500 dark:text-gray-50;
    }
    &.el-tag--primary{
        @apply bg-primary-25 text-system-dark-light dark:bg-primary-500 dark:text-gray-50;
    }
    .el-tag__content {
        @apply leading-[1.2];
    }
}
.el-select {
    .el-select__tags-text{
        @apply dark:text-gray-300;
    }
}
