.fct-timeline{
    .timeline-title-wrap{
        @apply flex items-center gap-3;
        h4{
            @apply m-0 font-body text-sm;
        }
    }
    p{
        @apply mb-0 mt-1.5 text-system-dark-light;
    }
    li{
        @apply mb-0;
    }
    .timeline-dot{
        @apply flex items-center justify-center w-4 h-4 bg-success-500 rounded-full border border-solid border-success-100;
        .el-icon{
            @apply text-white;
            svg{
                @apply w-3 h-3;
            }
        }
    }
    .el-timeline-item{
        &__timestamp{
            @apply text-system-dark-light;
            &.is-top{
                @apply pt-0 mb-1;
            }
        }
        &__dot{
            @apply -left-[3px];
        }
        &__tail{
            @apply border border-dashed border-t-0 border-b-0 border-r-0 border-gray-outline;
        }
    }
}
