.el-upload-dragger{
    @apply border-[1.5px] hover:border-primary-500 focus:border-primary-500 dark:bg-dark-800 dark:border-dark-400;

    .el-upload__text {
        @apply text-system-dark font-medium dark:text-gray-50;
        em{
            @apply underline dark:text-gray-50;
        }
        span{
            @apply block text-system-mid text-xs font-normal mt-0.5 dark:text-gray-300;
        }
    }

    .icon-button.primary[soft]{
        @apply bg-gray-50 border-gray-50 dark:bg-dark-500 dark:border-dark-500;
        .icon {
            @apply text-system-dark dark:text-gray-50;
        }
    }
}
